In [34]:
import numpy as np
import pandas as pd

In [35]:
#reading the csv files
df = pd.read_csv('adult_dataset.csv')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [50]:
df.info(verbose = False) # Print the short summary of the dataframe by setting verbose = False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 15 entries, age to income
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [37]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [38]:
df.describe

<bound method NDFrame.describe of        age         workclass  fnlwgt     education  education.num  \
0       90                 ?   77053       HS-grad              9
1       82           Private  132870       HS-grad              9
2       66                 ?  186061  Some-college             10
3       54           Private  140359       7th-8th              4
4       41           Private  264663  Some-college             10
5       34           Private  216864       HS-grad              9
6       38           Private  150601          10th              6
7       74         State-gov   88638     Doctorate             16
8       68       Federal-gov  422013       HS-grad              9
9       41           Private   70037  Some-college             10
10      45           Private  172274     Doctorate             16
11      38  Self-emp-not-inc  164526   Prof-school             15
12      52           Private  129177     Bachelors             13
13      32           Private  136204       Masters             14
14      51                 ?  172175     Doctorate             16
15      46           Private   45363   Prof-school             15
16      45           Private  172822          11th              7
17      57           Private  317847       Masters             14
18      22           Private  119592    Assoc-acdm             12
19      34           Private  203034     Bachelors             13
20      37           Private  188774     Bachelors             13
21      29           Private   77009          11th              7
22      61           Private   29059       HS-grad              9
23      51           Private  153870  Some-college             10
24      61                 ?  135285       HS-grad              9
25      21           Private   34310     Assoc-voc             11
26      33           Private  228696       1st-4th              2
27      49           Private  122066       5th-6th              3
28      37      Self-emp-inc  107164          10th              6
29      38           Private  175360          10th              6
...    ...               ...     ...           ...            ...
32531   31           Private  292592       HS-grad              9
32532   29           Private  125976       HS-grad              9
32533   35                 ?  320084     Bachelors             13
32534   30                 ?   33811     Bachelors             13
32535   34           Private  204461     Doctorate             16
32536   54           Private  337992     Bachelors             13
32537   37           Private  179137  Some-college             10
32538   22           Private  325033          12th              8
32539   34           Private  160216     Bachelors             13
32540   30           Private  345898       HS-grad              9
32541   71                 ?  287372     Doctorate             16
32542   45         State-gov  252208       HS-grad              9
32543   41                 ?  202822       HS-grad              9
32544   72                 ?  129912       HS-grad              9
32545   45         Local-gov  119199    Assoc-acdm             12
32546   31           Private  199655       Masters             14
32547   39         Local-gov  111499    Assoc-acdm             12
32548   37           Private  198216    Assoc-acdm             12
32549   43           Private  260761       HS-grad              9
32550   43         State-gov  255835  Some-college             10
32551   43  Self-emp-not-inc   27242  Some-college             10
32552   32           Private   34066          10th              6
32553   43           Private   84661     Assoc-voc             11
32554   32           Private  116138       Masters             14
32555   53           Private  321865       Masters             14
32556   22           Private  310152  Some-college             10
32557   27           Private  257302    Assoc-acdm             12
32558   40           Private  154374       HS-grad              9
32559   58           Private  151910       HS-grad              9
32560   22           Private  201490       HS-grad              9

           marital.status         occupation    relationship  \
0                 Widowed                  ?   Not-in-family
1                 Widowed    Exec-managerial   Not-in-family
2                 Widowed                  ?       Unmarried
3                Divorced  Machine-op-inspct       Unmarried
4               Separated     Prof-specialty       Own-child
5                Divorced      Other-service       Unmarried
6               Separated       Adm-clerical       Unmarried
7           Never-married     Prof-specialty  Other-relative
8                Divorced     Prof-specialty   Not-in-family
9           Never-married       Craft-repair       Unmarried
10               Divorced     Prof-specialty       Unmarried
11          Never-married     Prof-specialty   Not-in-family
12                Widowed      Other-service   Not-in-family
13              Separated    Exec-managerial   Not-in-family
14          Never-married                  ?   Not-in-family
15               Divorced     Prof-specialty   Not-in-family
16               Divorced   Transport-moving   Not-in-family
17               Divorced    Exec-managerial   Not-in-family
18          Never-married  Handlers-cleaners   Not-in-family
19              Separated              Sales   Not-in-family
20          Never-married    Exec-managerial   Not-in-family
21              Separated              Sales   Not-in-family
22               Divorced              Sales       Unmarried
23     Married-civ-spouse   Transport-moving         Husband
24     Married-civ-spouse                  ?         Husband
25     Married-civ-spouse       Craft-repair         Husband
26     Married-civ-spouse       Craft-repair   Not-in-family
27     Married-civ-spouse      Other-service         Husband
28          Never-married   Transport-moving   Not-in-family
29          Never-married     Prof-specialty   Not-in-family
...                   ...                ...             ...
32531  Married-civ-spouse  Machine-op-inspct            Wife
32532           Separated              Sales       Unmarried
32533  Married-civ-spouse                  ?            Wife
32534       Never-married                  ?   Not-in-family
32535  Married-civ-spouse     Prof-specialty         Husband
32536  Married-civ-spouse    Exec-managerial         Husband
32537            Divorced       Adm-clerical       Unmarried
32538       Never-married    Protective-serv       Own-child
32539       Never-married    Exec-managerial   Not-in-family
32540       Never-married       Craft-repair   Not-in-family
32541  Married-civ-spouse                  ?         Husband
32542           Separated       Adm-clerical       Own-child
32543           Separated                  ?   Not-in-family
32544  Married-civ-spouse                  ?         Husband
32545            Divorced     Prof-specialty       Unmarried
32546            Divorced      Other-service   Not-in-family
32547  Married-civ-spouse       Adm-clerical            Wife
32548            Divorced       Tech-support   Not-in-family
32549  Married-civ-spouse  Machine-op-inspct         Husband
32550            Divorced       Adm-clerical  Other-relative
32551  Married-civ-spouse       Craft-repair         Husband
32552  Married-civ-spouse  Handlers-cleaners         Husband
32553  Married-civ-spouse              Sales         Husband
32554       Never-married       Tech-support   Not-in-family
32555  Married-civ-spouse    Exec-managerial         Husband
32556       Never-married    Protective-serv   Not-in-family
32557  Married-civ-spouse       Tech-support            Wife
32558  Married-civ-spouse  Machine-op-inspct         Husband
32559             Widowed       Adm-clerical       Unmarried
32560       Never-married       Adm-clerical       Own-child

                     race     sex  capital.gain  capital.loss  hours.per.week  \
0                   White  Female             0          4356              40
1                   White  Female             0          4356              18
2                   Black  Female             0          4356              40
3                   White  Female             0          3900              40
4                   White  Female             0          3900              40
5                   White  Female             0          3770              45
6                   White    Male             0          3770              40
7                   White  Female             0          3683              20
8                   White  Female             0          3683              40
9                   White    Male             0          3004              60
10                  Black  Female             0          3004              35
11                  White    Male             0          2824              45
12                  White  Female             0          2824              20
13                  White    Male             0          2824              55
14                  White    Male             0          2824              40
15                  White    Male             0          2824              40
16                  White    Male             0          2824              76
17                  White    Male             0          2824              50
18                  Black    Male             0          2824              40
19                  White    Male             0          2824              50
20                  White    Male             0          2824              40
21                  White  Female             0          2754              42
22                  White  Female             0          2754              25
23                  White    Male             0          2603              40
24                  White    Male             0          2603              32
25                  White    Male             0          2603              40
26                  White    Male             0          2603              32
27                  White    Male             0          2603              40
28                  White    Male             0          2559              50
29                  White    Male             0          2559              90
...                   ...     ...           ...           ...             ...
32531               White  Female             0             0              40
32532               White  Female             0             0              35
32533               White  Female             0             0              55
32534  Asian-Pac-Islander  Female             0             0              99
32535               White    Male             0             0              60
32536  Asian-Pac-Islander    Male             0             0              50
32537               White  Female             0             0              39
32538               Black    Male             0             0              35
32539               White  Female             0             0              55
32540               Black    Male             0             0              46
32541               White    Male             0             0              10
32542               White  Female             0             0              40
32543               Black  Female             0             0              32
32544               White    Male             0             0              25
32545               White  Female             0             0              48
32546               Other  Female             0             0              30
32547               White  Female             0             0              20
32548               White  Female             0             0              40
32549               White    Male             0             0              40
32550               White  Female             0             0              40
32551               White    Male             0             0              50
32552  Amer-Indian-Eskimo    Male             0             0              40
32553               White    Male             0             0              45
32554  Asian-Pac-Islander    Male             0             0              11
32555               White    Male             0             0              40
32556               White    Male             0             0              40
32557               White  Female             0             0              38
32558               White    Male             0             0              40
32559               White  Female             0             0              40
32560               White    Male             0             0              20

      native.country income
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4      United-States  <=50K
5      United-States  <=50K
6      United-States  <=50K
7      United-States   >50K
8      United-States  <=50K
9                  ?   >50K
10     United-States   >50K
11     United-States   >50K
12     United-States   >50K
13     United-States   >50K
14     United-States   >50K
15     United-States   >50K
16     United-States   >50K
17     United-States   >50K
18                 ?   >50K
19     United-States   >50K
20     United-States   >50K
21     United-States  <=50K
22     United-States  <=50K
23     United-States  <=50K
24     United-States  <=50K
25     United-States  <=50K
26            Mexico  <=50K
27            Greece  <=50K
28     United-States   >50K
29     United-States   >50K
...              ...    ...
32531  United-States  <=50K
32532  United-States  <=50K
32533  United-States   >50K
32534  United-States  <=50K
32535  United-States   >50K
32536          Japan   >50K
32537  United-States  <=50K
32538  United-States  <=50K
32539  United-States   >50K
32540  United-States  <=50K
32541  United-States   >50K
32542  United-States  <=50K
32543  United-States  <=50K
32544  United-States  <=50K
32545  United-States  <=50K
32546  United-States  <=50K
32547  United-States   >50K
32548  United-States  <=50K
32549         Mexico  <=50K
32550  United-States  <=50K
32551  United-States  <=50K
32552  United-States  <=50K
32553  United-States  <=50K
32554         Taiwan  <=50K
32555  United-States   >50K
32556  United-States  <=50K
32557  United-States  <=50K
32558  United-States   >50K
32559  United-States  <=50K
32560  United-States  <=50K

[32561 rows x 15 columns]>

In [39]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [40]:
df.workclass.describe()

count       32561
unique          9
top       Private
freq        22696
Name: workclass, dtype: object

In [41]:
df.fnlwgt.describe()

count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64

In [42]:
df.education.describe()

count       32561
unique         16
top       HS-grad
freq        10501
Name: education, dtype: object

In [43]:
df['education.num'].describe()

count    32561.000000
mean        10.080679
std          2.572720
min          1.000000
25%          9.000000
50%         10.000000
75%         12.000000
max         16.000000
Name: education.num, dtype: float64

In [44]:
df['marital.status'].describe()

count                  32561
unique                     7
top       Married-civ-spouse
freq                   14976
Name: marital.status, dtype: object

In [52]:
df['capital.loss'].describe()

count    32561.000000
mean        87.303830
std        402.960219
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital.loss, dtype: float64

In [53]:
df['capital.gain'].describe()

count    32561.000000
mean      1077.648844
std       7385.292085
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital.gain, dtype: float64

In [7]:
df_1 = df[df.workclass=='?']
df_1

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
44,71,?,100820,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2489,15,United-States,<=50K
48,68,?,192052,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,2457,40,United-States,<=50K
49,67,?,174995,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,2457,40,United-States,<=50K
76,41,?,27187,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,0,2415,12,United-States,>50K
114,72,?,118902,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,2392,6,United-States,>50K
133,65,?,240857,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,2377,40,United-States,>50K
136,68,?,257269,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,2377,35,United-States,>50K
153,43,?,152569,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,2339,36,United-States,<=50K
202,65,?,143118,HS-grad,9,Widowed,?,Unmarried,White,Female,0,2206,10,United-States,<=50K
213,63,?,234083,HS-grad,9,Divorced,?,Not-in-family,White,Female,0,2205,40,United-States,<=50K
227,63,?,83043,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,2179,45,United-States,<=50K
230,66,?,177351,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,2174,40,United-States,>50K
237,60,?,141221,Bachelors,13,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,2163,25,South,<=50K
291,26,?,131777,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,2002,40,United-States,<=50K
301,19,?,241616,HS-grad,9,Never-married,?,Unmarried,White,Male,0,2001,40,United-States,<=50K
310,55,?,123382,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,2001,40,United-States,<=50K
320,21,?,40052,Some-college,10,Never-married,?,Not-in-family,White,Male,0,2001,45,United-States,<=50K
511,26,?,370727,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,1977,40,United-States,>50K
646,31,?,85077,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,1902,20,United-States,>50K
691,61,?,202106,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,1902,40,United-States,>50K
713,50,?,204577,Bachelors,13,Married-civ-spouse,?,Husband,Black,Male,0,1902,60,United-States,>50K
739,28,?,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
822,42,?,212206,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,1887,48,United-States,>50K
946,60,?,191118,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,1848,40,United-States,>50K
987,66,?,213149,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,1825,40,United-States,>50K
994,20,?,114746,11th,7,Married-spouse-absent,?,Own-child,Asian-Pac-Islander,Female,0,1762,40,South,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32084,62,?,178764,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
32103,24,?,108495,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32121,26,?,375313,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
32128,18,?,97474,HS-grad,9,Never-married,?,Own-child,White,Female,0,0,20,United-States,<=50K
32131,65,?,192825,7th-8th,4,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32133,27,?,147638,Masters,14,Never-married,?,Not-in-family,Other,Female,0,0,40,Japan,<=50K
32138,21,?,155697,9th,5,Never-married,?,Own-child,White,Male,0,0,42,United-States,<=50K
32141,51,?,43909,HS-grad,9,Divorced,?,Unmarried,Black,Female,0,0,40,United-States,<=50K
32146,21,?,78374,HS-grad,9,Never-married,?,Other-relative,Asian-Pac-Islander,Female,0,0,24,United-States,<=50K
32149,62,?,263374,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,0,0,40,Canada,<=50K
32158,34,?,330301,7th-8th,4,Separated,?,Unmarried,Black,Female,0,0,40,United-States,<=50K
32232,19,?,204868,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,0,0,36,United-States,<=50K
32243,49,?,113913,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,0,0,60,United-States,<=50K
32247,72,?,96867,5th-6th,3,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
32303,20,?,99891,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
32319,59,?,120617,Some-college,10,Never-married,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
32335,21,?,205939,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32341,63,?,126540,Some-college,10,Divorced,?,Not-in-family,White,Female,0,0,5,United-States,<=50K
32359,18,?,156608,11th,7,Never-married,?,Own-child,White,Female,0,0,25,United-States,<=50K
32366,66,?,93318,HS-grad,9,Widowed,?,Unmarried,White,Female,0,0,40,United-States,<=50K
32440,20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32483,49,?,114648,12th,8,Divorced,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
32496,60,?,134152,9th,5,Divorced,?,Not-in-family,Black,Male,0,0,35,United-States,<=50K
32500,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32528,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K
32533,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32534,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32541,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32543,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [17]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 0 to 32544
Data columns (total 15 columns):
age               1836 non-null int64
workclass         1836 non-null object
fnlwgt            1836 non-null int64
education         1836 non-null object
education.num     1836 non-null int64
marital.status    1836 non-null object
occupation        1836 non-null object
relationship      1836 non-null object
race              1836 non-null object
sex               1836 non-null object
capital.gain      1836 non-null int64
capital.loss      1836 non-null int64
hours.per.week    1836 non-null int64
native.country    1836 non-null object
income            1836 non-null object
dtypes: int64(6), object(9)
memory usage: 229.5+ KB

In [22]:
df.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K

In [9]:
df_1.info() #check the ? marked row nos

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 0 to 32544
Data columns (total 15 columns):
age               1836 non-null int64
workclass         1836 non-null object
fnlwgt            1836 non-null int64
education         1836 non-null object
education.num     1836 non-null int64
marital.status    1836 non-null object
occupation        1836 non-null object
relationship      1836 non-null object
race              1836 non-null object
sex               1836 non-null object
capital.gain      1836 non-null int64
capital.loss      1836 non-null int64
hours.per.week    1836 non-null int64
native.country    1836 non-null object
income            1836 non-null object
dtypes: int64(6), object(9)
memory usage: 229.5+ KB

In [15]:
#dropping the rows having missing values in workclass
df_2 = df[df['workclass']!= '?']
df_2.head(20)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K

In [24]:
df_3 = df[df['occupation']!= '?']

In [25]:
df_3.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K

In [26]:
df_4 = df[df['native.country']!= '?']
df_4.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K

In [27]:
df_5 = df[df['capital.gain'] ==0]
df_5

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32533,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32534,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32541,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [28]:
df_6 = df[df['capital.gain']!= 0]
df_6.head(10)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1519,54,Self-emp-inc,166459,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
1520,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1521,53,Self-emp-inc,263925,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,99999,0,40,United-States,>50K
1522,52,Private,118025,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,50,United-States,>50K
1523,46,Private,370119,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
1524,43,Private,176270,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,60,United-States,>50K
1525,49,Private,159816,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,99999,0,20,United-States,>50K
1526,50,Private,171338,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,50,United-States,>50K
1527,22,Self-emp-not-inc,202920,HS-grad,9,Never-married,Prof-specialty,Unmarried,White,Female,99999,0,40,Dominican-Republic,>50K
1528,43,Self-emp-inc,172826,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,99999,0,55,United-States,>50K

In [29]:
df_7 = df[df['capital.loss'] & df['capital.gain'] ==0]
df_7

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32533,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32534,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32541,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [30]:
df_8 = df[df['capital.loss'] &  df['capital.gain']!= 0] 
df_8.head(10)

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education.num, marital.status, occupation, relationship, race, sex, capital.gain, capital.loss, hours.per.week, native.country, income]
Index: []

In [68]:
print("Median: ",df.age.median())
print("Mean: ",df.age.mean())

Median:  37.0
Mean:  38.58164675532078

In [69]:
print("Median: ",df.fnlwgt.median())
print("Mean: ",df.fnlwgt.mean())

Median:  178356.0
Mean:  189778.36651208502

In [70]:
print("Median: ",df['education.num'].median())
print("Mean: ",df['education.num'].mean())

Median:  10.0
Mean:  10.0806793403151

In [67]:
print("Median: ",df['capital.gain'].median())
print("Mean: ",df['capital.gain'].mean())

Median:  0.0
Mean:  1077.6488437087312

In [72]:
print("Median: ",df['capital.loss'].median())
print("Mean: ",df['capital.loss'].mean())

Median:  0.0
Mean:  87.303829734959

In [73]:
print("Median: ",df['hours.per.week'].median())
print("Mean: ",df['hours.per.week'].mean())

Median:  40.0
Mean:  40.437455852092995

In [107]:
df['native.country'].head(20)

0     United-States
1     United-States
2     United-States
3     United-States
4     United-States
5     United-States
6     United-States
7     United-States
8     United-States
9                 ?
10    United-States
11    United-States
12    United-States
13    United-States
14    United-States
15    United-States
16    United-States
17    United-States
18                ?
19    United-States
Name: native.country, dtype: object

In [108]:
#Replacing empty value with mean of native country

native_country_mean = df['native.country'].mode()
#native_country_mean[0]
df_9 = df['native.country'].replace(to_replace = '?', value = native_country_mean[0] )
df_9.head(20)

0     United-States
1     United-States
2     United-States
3     United-States
4     United-States
5     United-States
6     United-States
7     United-States
8     United-States
9     United-States
10    United-States
11    United-States
12    United-States
13    United-States
14    United-States
15    United-States
16    United-States
17    United-States
18    United-States
19    United-States
Name: native.country, dtype: object

In [112]:
df.occupation.head(20)

0                     ?
1       Exec-managerial
2                     ?
3     Machine-op-inspct
4        Prof-specialty
5         Other-service
6          Adm-clerical
7        Prof-specialty
8        Prof-specialty
9          Craft-repair
10       Prof-specialty
11       Prof-specialty
12        Other-service
13      Exec-managerial
14                    ?
15       Prof-specialty
16     Transport-moving
17      Exec-managerial
18    Handlers-cleaners
19                Sales
Name: occupation, dtype: object

In [113]:
#Replacing empty value with mean of occupation
occupation_mean = df['occupation'].mode()
occupation_mean
df_10 = df['occupation'].replace(to_replace = '?', value = occupation_mean[0] )
df_10.head(20)

0        Prof-specialty
1       Exec-managerial
2        Prof-specialty
3     Machine-op-inspct
4        Prof-specialty
5         Other-service
6          Adm-clerical
7        Prof-specialty
8        Prof-specialty
9          Craft-repair
10       Prof-specialty
11       Prof-specialty
12        Other-service
13      Exec-managerial
14       Prof-specialty
15       Prof-specialty
16     Transport-moving
17      Exec-managerial
18    Handlers-cleaners
19                Sales
Name: occupation, dtype: object

In [115]:
#slicing according to iloc for every 500th data of all colum
df.age.iloc[500]

36

In [116]:
df.workclass.iloc[500]

'Private'

In [118]:
df.fnlwgt.iloc[500]

386726

In [129]:
print(df.education.iloc[500])
print(df['education.num'].iloc[500])
print(df['marital.status'].iloc[500])
print(df.occupation.iloc[500])
print(df.relationship.iloc[500])
print(df.race.iloc[500])
print(df.sex.iloc[500])
print(df['capital.gain'].iloc[500])
print(df['capital.loss'].iloc[500])
print(df['hours.per.week'].iloc[500])
print(df['native.country'].iloc[500])
print(df.income.iloc[500])

Masters
14
Married-civ-spouse
Prof-specialty
Wife
White
Female
0
1977
44
United-States
>50K

In [135]:
df['capital.loss'].head(20)

0     4356
1     4356
2     4356
3     3900
4     3900
5     3770
6     3770
7     3683
8     3683
9     3004
10    3004
11    2824
12    2824
13    2824
14    2824
15    2824
16    2824
17    2824
18    2824
19    2824
Name: capital.loss, dtype: int64

In [138]:
#count of capital loss which is more than 3000
df_11 = df['capital.loss'] > 3000
df_11.count()

32561